<!-- <div *ngFor="let product of products">
  <br>
  <br>
  <br>
  <button class="btn btn-success" *ngIf="product.color === 'black' else showred">Show Black</button>
  <ng-template #showred>
    <button class="btn btn-danger">Show Red</button>
  </ng-template>
</div> -->
<!-- <div [ngStyle]="{background: searchValue != '' ? 'orange' : ''}"> -->
<!-- <div [ngClass]="{changeBackground: searchValue != ''}">
  <span><b>Search:</b></span> -->
  <!-- <input type="text" (input)="changeSearchValue($event)"> -->
  <!-- <input type="text" [(ngModel)]="searchValue"> -->
  <!-- <div> -->
    <!-- <span *ngIf="searchValue !== ''">You searched for "{{ searchValue }}"</span> -->
  <!-- </div> -->
<!-- </div> -->
<!-- <br><br>

<div *ngFor="let p of products let i = index">
  <div>
    <div><img [src]="p.image" alt="" srcset=""></div> -->
    <!-- <p>{{ i }}</p> -->
    <!-- <h4>Name: {{ p.name }}</h4>
    <h4>School: {{ p.school }}</h4>
    <h4 *ngIf="p.age === 24 ">Age: {{ p.age }}</h4>
    <div [ngStyle]="{backgroundColor: p.color === 'black' ? 'green' : 'indigo' }">
      <h4>Color: {{ p.color }}</h4>
    </div>
  </div>
</div> -->

<br><br>
<div class="form">
  <h2 id="registration">Reactive Form</h2>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div formGroupName="personalDetails">
      <label for="fname">First Name</label>
      <input type="text" id="fname" placeholder="Your name.." formControlName="firstname"/>

      <label for="lname">Last Name</label>
      <input type="text" id="lname" placeholder="Your last name.." formControlName="lastname" />

      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Your last email.." formControlName="email"/>
      <div>
        <small *ngIf="!reactiveForm.get('personalDetails.email').valid && reactiveForm.get('personalDetails.email').touched" >The email you entered is not a valid one</small>
      </div>
    </div>

    <label for="country">Country</label>
    <select id="country" formControlName="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
      <option value="india">India</option>
      <option value="uk">UK</option>
    </select>

    <label for="gender">Gender:</label>
    <input type="radio" id="male" value="male" formControlName="gender" />
    <label for="male">Male</label>
    <input type="radio" id="female" value="female" formControlName="gender" />
    <label for="female">Female</label>
    <input type="radio" id="other" value="other" formControlName="gender" />
    <label for="other">Other</label> <br /><br />

    <label>Hobbies <i>(Optional)</i> </label>
    <div class="form-inline">
      <label><input type="checkbox" value="sports" formControlName="hobbies" /> Sports</label>
      <label><input type="checkbox" value="movies" formControlName="hobbies" /> Movies</label>
      <label><input type="checkbox" value="music" formControlName="hobbies"/> Music</label>
    </div>

    <input type="submit" value="Submit" id="btn" />
  </form>
</div>
