<div class="wrapper">
  <!-- <app-register></app-register> -->
  <!-- <app-reactive-reg></app-reactive-reg> -->
  <!-- <app-nav></app-nav>--> <!--using the nav selector as HTML tag-->
  <!-- <div app-nav></div>--> <!--using the nav selector as HTML attribute-->
  <div class="app-nav"></div> <!--using the nav selector as CSS class-->
  <app-header></app-header>
  <app-notification></app-notification>
  <app-search></app-search>
  <app-products></app-products>
  <!-- <app-newproducts></app-newproducts> -->

</div>
